<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Köle Ekle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Köle Ekle</h1>
        <br>
        <form th:action="@{/modernkole/kaydet}" th:object="${yeniKole}" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">İsim</label>
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="İsim giriniz">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Kütük</label>
                <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Kütük giriniz">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Elektronik Posta</label>
                <input type="text"  th:field="*{email}" class="form-control" id="email" placeholder="Elektronik posta giriniz">
            </div>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>

        <a
        th:href="@{/modernkole/koleler}" class="btn btn-secondary btn-sm mt-3">Geri Dön
        </a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>